<div class="container-fluid footer">
  <div class="row">
    <div class="col-lg-6">
      <img src="assets/logo/logo2.png" width="20%" alt="">
      <p>We give global ome services with their home most critical issues & opportunities. <br> Together create enduring
        changes & results.</p>
      <div class="col-lg-20">
        <a [routerLink]="['/routePath']" target="-blank"><i class="bi bi-facebook"></i></a>
        <a [routerLink]="['/routePath']" target="-blank"><i class="bi bi-whatsapp"></i></a>
        <a [routerLink]="['/routePath']" target="-blank"><i class="bi bi-x"></i></a>
        <a [routerLink]="['/routePath']" target="-blank"><i class="bi bi-tiktok"></i></a>
      </div>
    </div>

    <div class="col-lg-4">
      <ul class="media-icon list-unstyled">
        <li><i class="bi bi-pin-map"></i>
          <h5 class="mb-0">Cheif Street BOMAKA</h5>
        </li>
        <li><i class="bi bi-envelope-at"></i><a href="mailto:etsabac996@gmail.com">{{email}}</a>
        </li>
        <li><i class="bi bi-telephone-outbound"></i><a href="tel:+237677712186">+237 677712186</a>
        </li>
        <li><i class="bi bi-calendar-check"></i>
          <h5 class="mb-0">Mon - Fri 10:00 to 6:00</h5>
        </li>
      </ul>
    </div>
    <p style="padding-top: 2%;">Copyright © 2024 All Rights Reserved |ABAC Construction</p>
  </div>