<div class="container">
    <img src="assets/building_design/IMG-20230801-WA0013.jpg" alt="Notebook" style="width:100%;">
    <div class="content">
        <div class="title">
            <h1>{{title}}</h1>
            <div class="text">
                <div class="hme">
                    <h6><a [routerLink]="['home']"><i class="bi bi-house-door"></i>Home</a> / </h6>
                </div>
                <div class="abt-us">
                    <h6>{{title}}</h6>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- Header -->
<div class="header">
    <h1>Responsive Image Grid</h1>
    <p>Resize the browser window to see the responsive effect.</p>
</div>

<!-- Photo Grid -->
<div class="row">
    <div class="column">
        <img src="assets/building_design/IMG-20230801-WA0032.jpg" style="width:100%">
        <img src="assets/building_design/74662461_103981421082968_4913783950624686080_n.png" style="width:100%">
        <img src="assets/building_design/77000863_103981474416296_282388043808112640_n.png" style="width:100%">
        <img src="assets/building_design/IMG-20230801-WA0029.jpg" style="width:100%">
        <img src="assets/building_design/78287197_103981447749632_595063840505331712_n.png" style="width:100%">
        <img src="assets/building_design/78951234_103981434416300_834078989571063808_n.png" style="width:100%">
        <img src="assets/building_design/IMG-20230801-WA0008.jpg" style="width:100%">
        <img src="assets/building_design/IMG-20230801-WA0009.jpg" style="width:100%">
        <img src="assets/building_design/IMG-20230801-WA0010.jpg" style="width:100%">
    </div>
    <div class="column">
        <img src="assets/building_design/IMG-20230801-WA0033.jpg" style="width:100%">
        <img src="assets/building_design/IMG-20230801-WA0011.jpg" style="width:100%">
        <img src="assets/building_design/IMG-20230801-WA0012.jpg" style="width:100%">
        <img src="assets/building_design/IMG-20230801-WA0013.jpg" style="width:100%">
        <img src="assets/building_design/IMG-20230801-WA0014.jpg" style="width:100%">
        <img src="assets/building_design/IMG-20230801-WA0015.jpg" style="width:100%">
        <img src="assets/building_design/IMG-20230801-WA0030.jpg" style="width:100%">
        <img src="assets/building_design/IMG-20230801-WA0016.jpg" style="width:100%">
    </div>
    <div class="column">
        <img src="assets/building_design/IMG-20230801-WA0034.jpg" style="width:100%">
        <img src="assets/building_design/IMG-20230801-WA0017.jpg" style="width:100%">
        <img src="assets/building_design/IMG-20230801-WA0018.jpg" style="width:100%">
        <img src="assets/building_design/IMG-20230801-WA0019.jpg" style="width:100%">
        <img src="assets/building_design/IMG-20230801-WA0020.jpg" style="width:100%">
        <img src="assets/building_design/IMG-20230801-WA0021.jpg" style="width:100%">
        <img src="assets/building_design/IMG-20230801-WA0022.jpg" style="width:100%">
        <img src="assets/building_design/IMG-20230801-WA0023.jpg" style="width:100%">
    </div>
    <div class="column">
        <img src="assets/building_design/IMG-20230801-WA0024.jpg" style="width:100%">
        <img src="assets/building_design/IMG-20230801-WA0025.jpg" style="width:100%">
        <img src="assets/building_design/IMG-20230801-WA0026.jpg" style="width:100%">
        <img src="assets/building_design/IMG-20230801-WA0027.jpg" style="width:100%">
        <img src="assets/building_design/IMG-20230801-WA0031.jpg" style="width:100%">
        <img src="assets/building_design/IMG-20230801-WA0028.jpg" style="width:100%">
        <img src="assets/building_design/IMG-20230801-WA0035.jpg" style="width:100%">
    </div>
</div>