<div class="container">
    <img src="assets/pictures/roadmap2.jpg" alt="Notebook" style="width:100%;">
    <div class="content">
        <div class="title">
            <h1>{{title}}</h1>
            <div class="text">
                <div class="hme">
                    <h6><a [routerLink]="['home']"><i class="bi bi-house-door"></i>Home</a> / </h6>
                </div>
                <div class="abt-us">
                    <h6>{{title}}</h6>
                </div>
            </div>
        </div>
    </div>

</div>