<nav class="navbar">
    <div class="logo">
        <a [routerLink]="['home']">
        <img src="assets/logo/logo1.png" width="70px" alt="abac logo">
    </a></div>
    <ul class="desktop">
        <li class="hideOnMobile"><a [routerLink]="['home']"><span>Home</span></a></li>
        <li class="hideOnMobile"><a [routerLink]="['/routePath']"><span>Services</span></a>
            <div class="dropdown-content">
                <a [routerLink]="['/routePath']">Building Construction</a>
                <a [routerLink]="['/routePath']">Innovation Planning</a>
                <a [routerLink]="['/routePath']">Home Construction</a>
                <a [routerLink]="['/routePath']">Property Maintenace</a>
                <a [routerLink]="['/routePath']">Building Design </a>
              </div></li>
        <li class="hideOnMobile"><a [routerLink]="['/routePath']"><span>Pages</span></a>
        <div class="dropdown-content">
                    <a [routerLink]="['/about-us']">About Us</a>
                    <a [routerLink]="['/history']">Our History</a>
                    <a [routerLink]="['/team']">Team Members</a>
                  </div></li>
        <li class="hideOnMobile"><a [routerLink]="['/routePath']"><span>Blog</span></a>
            <div class="dropdown-content">
                <a [routerLink]="['/routePath']">Latest Project</a>
                <a [routerLink]="['/routePath']">Poject Single</a>
              </div></li>
        <li class="hideOnMobile"><a [routerLink]="['/contact']"><span>Contact</span></a></li>
        <li class="qoute hideOnMobile"><a [routerLink]="['/routePath']"><span>Get a Qoute</span></a></li>
       <!-- <a class="menu-button" (click)="showSidebar()">
            &#9776;
    </a> -->
    </ul>     
</nav>