* {
    margin: 0;
    padding: 0;
}

.logo {
    position: absolute;
    left: 16px;
}


.logo:hover {
    animation: circle .5s forwards;
    transition: 0.7s;
}

/* navbar start */
nav {
    display: flex;
}

nav .desktop ul {
    box-shadow: 0px 1px 10px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.148);
    backdrop-filter: blur(5px);
    list-style: none;
    display: flex;
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60px;
    width: 70%;
}

nav .desktop li {
    margin: auto;
    height: 40px;
}

nav a {
    height: 100%;
    padding: 0 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
}

nav li:hover {
    background-color: rgb(243, 205, 37);
    border-radius: 50px;
    transition: 0.5s;
}

nav a:hover {
    color: rgb(241, 241, 241);
}

.qoute {
    /* padding: 0px 10px 0px 10px; */
    background-color: rgb(7, 7, 102);
    border-radius: 50px;
}

.qoute a {
    color: white;
}

/* button annimation */
/* animmation for other tabs */
.hideOnMobile span {
    cursor: pointer;
    transition: 0.5s;
}

.hideOnMobile:hover span {
    padding: 0px 10px 0px 10px;
}

/* animmaktion for qoute tab*/
.qoute span {
    cursor: pointer;
    transition: 0.5s;
}

.qoute span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 30%;
    margin-right: 5%;
    transition: 0.5s;
    color: black;
}

.qoute:hover span {
    padding-right: 20px;
}

.qoute:hover span:after {
    opacity: 1;
    right: 0;
}

/* end */

/* navbar dropedown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.66);
    backdrop-filter: blur(5px);
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
    align-items: center;
    margin: auto;
    padding: 10px;
}

.button .dropdown-content {
    width: 100%;
}

.dropdown-content a {
    float: none;
    color: rgb(0, 0, 0);
    padding: 7px 10px 10px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.hideOnMobile .dropdown-content a:hover {
    background-color: rgb(243, 205, 37);
    border-radius: 50px;
    text-decoration: underline;
    transition: 0.5s;
}

.button .dropdown-content a:hover {
    background-color: rgb(255, 255, 255);
    text-decoration: underline;
    transition: 0.5s;
}

.hideOnMobile:hover .dropdown-content,
.button:hover .dropdown-content {
    display: block;
}

.menu-button a {
    display: none;
}

nav .sidebar {
    list-style: none;
    text-align: center;
    font-size: 25px;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 0px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.692);
    backdrop-filter: blur(5px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: 0.6s;
}

.sidebar li {
    width: 100%;

}

.sidebar a {
    width: 100%;
}

/* navbar end */


@keyframes circle {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (max-width : 800px) {
    .navbar {
        margin-top: -50px;
    }

    nav .desktop ul {
        display: none;
    }

    nav ul li {
        padding: 20px;

    }

    nav .sidebar li:hover {
        background-color: rgb(243, 205, 37);
        border-radius: 20px;
        transition: 0.5s;
    }

    nav li {
        margin-bottom: 20px;
    }

    nav .menu-button a {
        color: rgba(255, 223, 80, 0.815);
        ;
        /* margin-left: 1%; */
        display: block;
        margin-top: -10%;
        font-size: 45px;
    }

    nav .menu-button a:hover {
        background-color: rgba(255, 223, 80, 0.815);
        color: #ffffff;
        transition: 0.5s;
        border-radius: 20px;
    }
}