<div class="container">
    <img src="assets/building_construction/ivan-henao-04rZ7R1fKhY-unsplash.jpg" alt="Notebook" style="width:100%;">
    <div class="content">
        <div class="title">
            <h1>{{title}}</h1>
            <div class="text">
                <div class="hme">
                    <h6><a [routerLink]="['home']"><i class="bi bi-house-door"></i>Home</a> / </h6>
                </div>
                <div class="abt-us">
                    <h6>{{title}}</h6>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- Header -->
<div class="header">
    <h1>Responsive Image Grid</h1>
    <p>Resize the browser window to see the responsive effect.</p>
  </div>
  
  <!-- Photo Grid -->
  <div class="row"> 
    <div class="column">
      <img src="assets/building_construction/311453973_489131569905746_4265443137477938737_n.jpg" style="width:100%">
      <img src="assets/building_construction/361832586_664217649063803_2380687394457033343_n.jpg" style="width:100%">
      <img src="assets/building_construction/361836329_664217732397128_2324508942230753089_n.jpg" style="width:100%">
      <img src="assets/building_construction/361849219_664217325730502_7594746502457752240_n.jpg" style="width:100%">
      <img src="assets/building_construction/361919186_664217755730459_22853312748422203_n.jpg" style="width:100%">
      <img src="assets/building_construction/361919529_664217722397129_7838599124448786061_n.jpg" style="width:100%">
      <img src="assets/building_construction/362177622_664217212397180_3918941235346929004_n.jpg" style="width:100%">
    </div>
    <div class="column">
      <img src="assets/building_construction/building cong2.jpg" style="width:100%">
      <img src="assets/building_construction/building cong3.jpg" style="width:100%">
      <img src="assets/building_construction/building cong4.jpg" style="width:100%">
      <img src="assets/building_construction/building-cong.jpg" style="width:100%">
      <img src="assets/building_construction/building-cong1.jpg" style="width:100%">
      <img src="assets/building_construction/IMG-20231005-WA0012.jpg" style="width:100%">
    </div>  
    <div class="column">
      <img src="assets/building_construction/IMG-20231005-WA0022.jpg" style="width:100%">
      <img src="assets/building_construction/IMG-20231006-WA0013.jpg" style="width:100%">
      <img src="assets/building_construction/IMG-20231006-WA0014.jpg" style="width:100%">
      <img src="assets/building_construction/IMG-20231006-WA0015.jpg" style="width:100%">
      <img src="assets/building_construction/IMG-20231007-WA0021.jpg" style="width:100%">
      <img src="assets/building_construction/IMG-20231007-WA0025.jpg" style="width:100%">
      <img src="assets/building_construction/IMG-20231007-WA0030.jpg" style="width:100%">
    </div>
    <div class="column">
      <img src="/assets/building_construction/kumba g h.jpg" style="width:100%">
      <img src="/assets/building_construction/kumba g h1.jpg" style="width:100%">
      <img src="/assets/building_construction/kumba.jpg" style="width:100%">
      <img src="../w3images/mountainskies.jpg" style="width:100%">
      <img src="../w3images/rocks.jpg" style="width:100%">
      <img src="../w3images/underwater.jpg" style="width:100%">
    </div>
  </div>