<div class="container">
    <img src="assets/pictures/contact.jpg" alt="Notebook" style="width:100%;">
    <div class="content">
        <div class="title">
            <h1>Contact Us</h1>
            <div class="text"> 
                <div class="hme">
                    <h6><a [routerLink]="['home']"><i class="bi bi-house-door"></i>Home</a> / </h6>
                </div>
                <div class="abt-us">
                    <h6>Contact Us</h6>
                </div>
            </div>
        </div>
    </div>
</div>
  

<div class="contacts">
<section class="main-service">
    <div class="row">
       <div class="col-lg-15">
        <div class="servicebox">
            <img src="assets/service-pic/location.png" width="15%" alt="Address photo">
            <h1>Address</h1>
            <p>Cheif Street BOMAKA</p>
        </div>
       </div> 
    </div>    
</section>
<section class="main-service">
    <div class="row">
       <div class="col-lg-15">
        <div class="servicebox">
            <img src="assets/service-pic/icons8-email-100.png" width="30%" alt="email photo">
            <h1>Email Address</h1>
            <p><a href="mailto:etsabac996@gmail.com">{{email}}</a></p>
        </div>
       </div> 
    </div>    
</section>

<section class="main-service">
    <div class="row">
       <div class="col-lg-15">
        <div class="servicebox">
            <img src="assets/service-pic/icons8-phone-call-64.png" width="25%" alt="call photo">
            <h1>Phone Number</h1>
            <p><a href="tel:+237677712186">+237 677712186</a></p>
        </div>
       </div> 
    </div>    
</section>
</div>