<div class="container">
    <img src="assets/pictures/istockphoto-1299533553-612x612.jpg" alt="Notebook" style="width:100%;">
    <div class="content">
        <div class="title">
            <h1>About Us</h1>
            <div class="text">
                <div class="hme">
                    <h6><a [routerLink]="['home']"><i class="bi bi-house-door"></i>Home</a> / </h6>
                </div>
                <div class="abt-us">
                    <h6><a href="">About Us</a></h6>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="about-us">
    <section>
        <div class="heading">
            <h1> ABOUT US </h1>
        </div>
        <div class="about-us-text">
            <div class="abt-pic">
                <img src="assets/pictures/cover-pic2.jpg" alt="about us">
            </div>
            <p>
                Welcome to ABAC CONSTRUCTION, where innovation, creativity, and excellence converge to shape the future
                of architecture. With a rich legacy of design achievements and a commitment to pushing boundaries, we
                are dedicated to crafting spaces that inspire, transform, and stand as enduring testaments to the power
                of visionary design.
                At ABAC CONSTRUCTION, our mission is to redefine the art of architecture by crafting spaces that
                harmonize functionality, beauty, and sustainability. Through collaborative partnerships and an
                unwavering commitment to quality, we bring our clients' dreams to life, enriching communities and
                leaving an indelible mark on the built environment.

            </p>
        </div>
        <div class="heading">
            <h1> WHY CHOOSE US </h1>
        </div>
        <div class="approach head">
            <h3>OUR APPROACH</h3>
        </div>
        <div class="our-approach">
            <p>At ABAC CONSTRUCTION, design is more than a profession – it's a way of life. We approach each project as
                an opportunity to weave narratives into built form, merging artistry with technical expertise. Our
                design philosophy hinges on collaboration, sustainability, and a profound understanding of the unique
                aspirations of our clients. By combining innovative thinking with timeless principles, we transform
                concepts into reality, crafting environments that seamlessly blend beauty, functionality, and purpose
            </p>
        </div>
        <div class="value head">
            <h3>OUR VALUE</h3>
        </div>
        <div class="our-value">
            <p>Our values are the bedrock of everything we do. Integrity, excellence, collaboration, sustainability, and
                innovation form the core of our identity. We hold ourselves accountable to the highest ethical
                standards, ensuring transparency and trust in every interaction. Our commitment to excellence drives us
                to continuously strive for perfection, pushing beyond the ordinary to achieve extraordinary outcomes.
                Collaboration fuels our creativity, enabling us to create harmonious designs that resonate with people
                and communities. With sustainability as a guiding principle, we design with a conscience, crafting
                spaces that stand as beacons of environmental responsibility. Innovation is our constant companion,
                propelling us to explore new horizons, embrace emerging technologies, and redefine architectural
                paradigms.</p>
        </div>
        <div class="impact head">
            <h3>OUR IMPACT</h3>
        </div>
        <div class="our-impact">
            <p>From iconic landmarks that redefine cityscapes to intimate spaces that enrich everyday lives, our
                portfolio speaks to our unwavering dedication to creating designs that leave an indelible mark. We
                believe that architecture has the power to shape culture, inspire movements, and foster connection.
                Through our work, we aspire to contribute positively to society, leaving a legacy of transformative
                spaces that endure through time.</p>
        </div>

    </section>
</div>