<div class="container">
    <img src="assets/pictures/roadmap2.jpg" alt="Notebook" style="width:100%;">
    <div class="content">
        <div class="title">
            <h1>Our History</h1>
            <div class="text">
                <div class="hme">
                    <h6><a [routerLink]="['home']"><i class="bi bi-house-door"></i>Home</a> / </h6>
                </div>
                <div class="abt-us">
                    <h6><a href="">Our History</a></h6>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="about-us">
    <section>
        <div class="heading">
            <h1> Our Story </h1>
        </div>
        <div class="about-us-text">
            <p>
                Founded with a passion for architecture and a vision to redefine the built environment, ABAC
                CONSTRUCTION has emerged as a prominent force in the industry. Our journey began with a handful of
                dedicated professionals who shared a common goal: to create architecture that not only fulfills
                functional needs but also elevates the human experience. Over the years, we have evolved into a
                multidisciplinary team of architects, designers, engineers, and experts, united by a shared mission to
                create spaces that leave a mark on hearts and skylines.
            </p>
        </div>

        <div class="heading">
            <h4>Join Us on the Journey</h4>
        </div>
        <div class="about-us-text">
        
        Whether you're a client seeking a visionary partner, a collaborator looking to explore new frontiers, or an
        individual passionate about the transformative power of architecture design, we invite you to join us on this
        exciting journey. Together, we can reimagine possibilities, transcend boundaries, and create a world where
        architecture is not just a structure, but a catalyst for a better future.

        Welcome to ABAC CONSTRUCTION – where innovation takes form, creativity finds purpose, and architecture becomes
        an unforgettable experience.
</div>
    <div class="heading">
        <h3>Our Time Line</h3>
    </div>
    <!-- time kine -->
    <div class="timeline">
        <div class="contr left">
          <div class="contt">
            <h2>2017</h2>
            <p>Lorem ipsum..</p>
          </div>
        </div>
        <div class="contr right">
          <div class="contt">
            <h2>2016</h2>
            <p>Lorem ipsum..</p>
          </div>
        </div>
      </div>
    </section>
</div>