<div class="container">
    <img src="assets/pictures/roadmap2.jpg" alt="Notebook" style="width:100%;">
    <div class="content">
        <div class="title">
            <h1>Our Team</h1>
            <div class="text">
                <div class="hme">
                    <h6><a [routerLink]="['home']"><i class="bi bi-house-door"></i>Home</a> / </h6>
                </div>
                <div class="abt-us">
                    <h6>Our Team</h6>
                </div>
            </div>
        </div>
    </div>

</div>


<h2 style="text-align:center">User Profile Card</h2>

<div class="card">
  <img src="assets/pictures/roadmap2.jpg" alt="John" style="width:100%">
  <h1>John Doe</h1>
  <p class="card-title">CEO & Founder, Example</p>
  <p>Harvard University</p>
  <div class="contacts" style="margin: 24px 0;">
    <a [routerLink]="['/routePath']" target="-blank"><i class="bi bi-facebook"></i></a>
    <a [routerLink]="['/routePath']" target="-blank"><i class="bi bi-whatsapp"></i></a>
    <a [routerLink]="['/routePath']" target="-blank"><i class="bi bi-x"></i></a>
    <a [routerLink]="['/routePath']" target="-blank"><i class="bi bi-tiktok"></i></a>
   
  </div>
  <p><button>Contact</button></p>
</div>