<div class="container">
    <img class="cover_pic" src="assets/homepage_pic/cover_pic.jpg" alt="Notebook">
    <div class="content">

    </div>
    <section class="abac">
        <img src="assets/logo/logo1.1.png" width="30%" alt="">
        <div class="leter_head">
            <div class="title_home">
                <span>
                    <h1>A</h1>
                </span>
                <span>
                    <h1>B</h1>
                </span>
                <span>
                    <h1>A</h1>
                </span>
                <span>
                    <h1>C</h1>
                </span>
            </div>
            <h2 class="const">CONSTRUCTION</h2>
            <h2 class="const">BUILDING SERVICE</h2>
            <p>With over <b style="color: goldenrod;">25</b> years of <i>Expirence</i>. We bring out the best of the
                best </p>
        </div>
    </section>
</div>
<div>
    <section class="about-us">

        <div class="slogan">
            <div class="heading">
                <h6>ABOUT US</h6>
            </div>
            <h2> Making your vision come true at the basics.</h2>
        </div>
        <div class="text">
            At ABAC CONSTRUCTION, design is more than a profession – it’s a
            way of life. We approach each project as an opportunity to weave
            narratives into built form, merging artistry with technical
            expertise. Our design philosophy hinges on collaboration,
            sustainability, and a profound understanding of the unique
            aspirations of our clients. By combining innovative thinking
            with timeless principles, we transform concepts into reality,
            crafting environments that seamlessly blend beauty, functionality,
            and purpose
            <div class="abt">
                <button [routerLink]="['/pages/about-us']" class="btn1 abt-us">ABOUT US</button>
                <button [routerLink]="['/contact']" class="btn1 cont-us">CONTACT US</button>
            </div>
        </div>
    </section>
</div>
<section class="">
    <div class="landing">
        <div class="row">
            <div class="col-lg-4" *ngFor="let item of special_service">
                <div class="first" style="background-image: url({{item.img}});">
                    <div class="s_text">
                        <h1>{{item.title}}</h1>
                        <p>{{item.text}}</p>
                        <!-- <div class="btn-style"></div> -->
                        <button class="btn abt-us">{{item.more}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="main-service">
    <div class="heading">
        <h6>OUR SERVICES</h6>
    </div>
    <div class="projects">
        <h1>Our Special Projects</h1>
    </div>
    <div class="service-row">
        <div *ngFor="let item of special_service">
            <div class="servicebox" style="background-image: url({{item.img}});">
                <div class="details">
                    <h1>{{item.title}}</h1>
                    <p class="hide">{{item.text}}</p>
                    <div class="btn-style hide"></div>
                    <button class="btn abt-us hide">{{item.more}}</button>
                </div>
            </div>
        </div>
    </div>

</section>